[submodule ".vim/bundle/vim-sleuth"]
	path = .vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
